* {
	margin: 0;
}
html, body {
	height: 100%;
}
#mainWrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 80px;
	padding: 0 0 60px 0;
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/